In [423]:
import pandas as pd
import math
import numpy as np

# Open File

Membuka file dataset dengan ekstensi **csv**. Setelah itu merename nama-nama header. Baru kemudian men-drop column-column yang tidak akan digunakan.

In [424]:
def open_file(file):
    #read dataset
    raw_data = pd.read_csv(file, header=6)

    #ganti nama header
    raw_data.columns = [
                        "Nama Panggilan", 
                        "Asal Sekolah", 
                        "Jurusan Sekolah", 
                        "Jenis Sekolah",
                        "Jenis Kelas", 
                        "Akreditasi Sekolah", 
                        "Prestasi Sekolah", 
                        "Alumni Sekolah", 
                        "PTN Pilihan I", 
                        "Jurusan Pilihan I di PTN Pilihan I" ,
                        "Jurusan Pilihan II di PTN Pilihan I", 
                        "PTN Pilihan II", 
                        "Jurusan Pilihan I di PTN Pilihan II" ,
                        "Jurusan Pilihan II di PTN Pilihan II", 
                        "Jurusan Diterima", "PTN Diterima", 
                        "Matematika Semester 1", 
                        "Matematika Semester 2", 
                        "Matematika Semester 3", 
                        "Matematika Semester 4", 
                        "Matematika Semester 5", 
                        "Inggris Semester 1", 
                        "Inggris Semester 2", 
                        "Inggris Semester 3", 
                        "Inggris Semester 4", 
                        "Inggris Semester 5",
                        "Indonesia Semester 1",
                        "Indonesia Semester 2",
                        "Indonesia Semester 3",
                        "Indonesia Semester 4",
                        "Indonesia Semester 5",
                        "Fisika Semester 1",
                        "Fisika Semester 2",
                        "Fisika Semester 3",
                        "Fisika Semester 4",
                        "Fisika Semester 5",
                        "Kimia Semester 1",
                        "Kimia Semester 2",
                        "Kimia Semester 3",
                        "Kimia Semester 4",
                        "Kimia Semester 5",
                        "Biologi Semester 1",
                        "Biologi Semester 2",
                        "Biologi Semester 3",
                        "Biologi Semester 4",
                        "Biologi Semester 5",
                        "Ekonomi Semester 1",
                        "Ekonomi Semester 2",
                        "Ekonomi Semester 3",
                        "Ekonomi Semester 4",
                        "Ekonomi Semester 5",
                        "Geografi Semester 1",
                        "Geografi Semester 2",
                        "Geografi Semester 3",
                        "Geografi Semester 4",
                        "Geografi Semester 5",
                        "Sosiologi Semester 1",
                        "Sosiologi Semester 2",
                        "Sosiologi Semester 3",
                        "Sosiologi Semester 4",
                        "Sosiologi Semester 5",
                        "Sejarah Semester 1",
                        "Sejarah Semester 2",
                        "Sejarah Semester 3",
                        "Sejarah Semester 4",
                        "Sejarah Semester 5",
                        "Komputer Semester 1",
                        "Komputer Semester 2",
                        "Komputer Semester 3",
                        "Komputer Semester 4",
                        "Komputer Semester 5",
                        "Peringkat Kelas Semester 1",
                        "Peringkat Kelas Semester 2",
                        "Peringkat Kelas Semester 3",
                        "Peringkat Kelas Semester 4",
                        "Peringkat Kelas Semester 5",
                        "Nilai UN", 
                        "Saran",
                        "Prestasi Lain"
                    ]
    
    #drop column yang tidak digunakan
    data = raw_data.drop([
                "Jenis Kelas",
                "Akreditasi Sekolah", 
                "Prestasi Sekolah", 
                "Alumni Sekolah", 
                "Komputer Semester 1",
                "Komputer Semester 2",
                "Komputer Semester 3",
                "Komputer Semester 4",
                "Komputer Semester 5",
                "Peringkat Kelas Semester 1",
                "Peringkat Kelas Semester 2",
                "Peringkat Kelas Semester 3",
                "Peringkat Kelas Semester 4",
                "Peringkat Kelas Semester 5",
                "Nilai UN", 
                "Saran",
                "Prestasi Lain"
        ],axis=1)
    
    return data

# Cleaning Nilai

Proses cleaning nilai terdiri dari beberapa langkah:

1. Mengambil nilai tengah dari tiap mata pelajaran
2. Mengganti setiap NaN/null data dengan mean per mata pelajaran

In [425]:
def cleaning_nilai(data):

    #Mengambil nilai tengah dari tiap nilai
    data = data.replace("<70", 34.5)
    data = data.replace("71 - 75", 73)
    data = data.replace("76 - 80", 78)
    data = data.replace("81 - 85", 83)
    data = data.replace("86 - 90", 88)
    data = data.replace("91 - 95", 93)
    data = data.replace("> 95", 98)
    data = data.replace("No data", np.NaN)

    return data

In [426]:
def replace_zero_w_mean(data, mata_pelajaran):
    
    #mencari rata-rata dari per mata pelajaran
    rata2 = (data[f"{mata_pelajaran} Semester 1"].mean() 
            + data[f"{mata_pelajaran} Semester 2"].mean() 
            + data[f"{mata_pelajaran} Semester 3"].mean()
            + data[f"{mata_pelajaran} Semester 4"].mean()
            + data[f"{mata_pelajaran} Semester 5"].mean())/5
    
    #mengganti NaN value dengan nilai rata-rata
    values = {
        f"{mata_pelajaran} Semester 1": rata2,
        f"{mata_pelajaran} Semester 2": rata2,
        f"{mata_pelajaran} Semester 3": rata2,
        f"{mata_pelajaran} Semester 4": rata2,
        f"{mata_pelajaran} Semester 5": rata2,
    }
    data = data.fillna(value=values)
                    
    return data

# Menghitung Rata-Rata Per 5 Semester

Dari nilai-nilai yang telah di-clean kemudian akan dicari rata-rata tiap mata pelajarannya per semester

In [427]:
def rata2_mp_semester(data, mata_pelajaran):
    data_rata2 = {}
    
    #drop column tiap mata pelajaran untuk digantikan dengan rata-rata semester
    mapel = []
    for i in range(1,6):
        mapel.append(f"{mata_pelajaran} Semester {i}")

    data_drop = data.drop(mapel, axis=1)
    
    
    for column in data_drop:
        isi = []
        for i in range(len(data)):
            isi.append(data[column][i])
        data_rata2[column] = isi

    #menghitung rata-rata nilai 5 semester
    mean = []
    for i in range(len(data)):
        jumlah_nilai = 0
        jumlah_nilai += data[f"{mata_pelajaran} Semester 1"][i] + data[f"{mata_pelajaran} Semester 2"][i] + data[f"{mata_pelajaran} Semester 3"][i] + data[f"{mata_pelajaran} Semester 4"][i] + data[f"{mata_pelajaran} Semester 5"][i]
        mean.append(jumlah_nilai/5)

    #memasukkan column rata-rata 5 semester tiap mata pelajaran ke dataframe
    data_rata2[f"Rata-rata {mata_pelajaran}"] = mean

    data_rata2_frame = pd.DataFrame(data=data_rata2)
    
    return data_rata2_frame

# Menghapus NaN

Proses ini akan menghapus tiap rows yang memiliki NaN value yang ada pada column Jurusan Diterima

In [428]:
def remove_nan(data):
    drop_index = []

    #menghapus NaN value
    for i in range(len(data)):
        try:
            float(data["Jurusan Diterima"][i])
        except ValueError:
            pass
        else:
            if math.isnan(float(data["Jurusan Diterima"][i])) or int(data["Jurusan Diterima"][i]) == 0:
                drop_index.append(i)

    data = data.drop(drop_index)
        
    return data

In [429]:
def clean_jurusan_ptn(data):
    for i in range(len(data)):
        for column in data:
            if column == "Jurusan Diterima"  or column == "Jurusan Pilihan I di PTN Pilihan I" or column == "Jurusan Pilihan II di PTN Pilihan I" or column == "Jurusan Pilihan I di PTN Pilihan II" or column == "Jurusan Pilihan II di PTN Pilihan II":
                if isinstance(data[column][i], float):
                    pass
                else:
                    data[column][i] = data[column][i].title()
            elif column == "PTN Diterima" or column == "PTN Pilihan I" or column == "PTN Pilihan II":
                if isinstance(data[column][i], float):
                    pass
                else:
                    data[column][i] = data[column][i].upper()
    
    return data

In [430]:
def clean(files):
    cleanned_data = []
    
    for file in files:
        data = open_file(file)

        data = cleaning_nilai(data)

        matpel = ["Matematika", "Inggris", "Indonesia", "Fisika", "Kimia", "Biologi", "Ekonomi", "Geografi", "Sosiologi","Sejarah"]

        for item in matpel:
            data = replace_zero_w_mean(data, item)
            data = rata2_mp_semester(data, item)
                    
        data = remove_nan(data)
        
        cleanned_data.append(data)
        
        data_merge = pd.concat(cleanned_data, ignore_index=True)
        
        result = clean_jurusan_ptn(data_merge)
        
    #Split data test - data train
    test = result.sample(frac=0.3, replace=True)
    test.to_csv("Splitted Test.csv", encoding="utf-8")
    
#     rest_of_data = result.drop(test.index).reset_index()
    
    train = result.drop([
            "Nama Panggilan", 
            "Asal Sekolah", 
            "PTN Pilihan I", 
            "Jurusan Pilihan I di PTN Pilihan I" ,
            "Jurusan Pilihan II di PTN Pilihan I", 
            "PTN Pilihan II", 
            "Jurusan Pilihan I di PTN Pilihan II" ,
            "Jurusan Pilihan II di PTN Pilihan II", 
        ],axis=1)
    
    train.to_csv("Splitted Train.csv", encoding="utf-8")
    
#     train = train_w_index.drop(["index"],axis=1)

    return train

In [431]:
def sort_data(data):
    data_sort = data.sort_values(by=['Jurusan Diterima', 'PTN Diterima'])
    
    data_sort.reset_index(inplace = True)

    data_sort = data_sort.drop(["index"], axis=1)

    return data_sort

In [432]:
def get_jurusan_ptn(data):
    temp_jurusan = ""
    temp_ptn = ""
    list_jurusan_ptn = []
    for i in range(len(data)):
        if data["Jurusan Diterima"][i] != temp_jurusan and data["PTN Diterima"][i] != temp_ptn:
            temp_jurusan = data["Jurusan Diterima"][i]
            temp_ptn = data["PTN Diterima"][i]
            list_jurusan_ptn.append((temp_jurusan, temp_ptn))
        else:
            pass

    return list_jurusan_ptn

In [433]:
def get_tabel_alternatif(data, list_jurusan_ptn):
    frame = {}
    for j in range(len(list_jurusan_ptn)):
        list_nilai = []
        for column in data:
            jum = 0
            byk = 0
            for i in data.index:
                if data["Jurusan Diterima"][i] == list_jurusan_ptn[j][0] and data["PTN Diterima"][i] == list_jurusan_ptn[j][1]:
    #                 print(data_sort["Jurusan Diterima"][i], data_sort["PTN Diterima"][i])
                    temp_jurusan = data["Jurusan Diterima"][i]
                    temp_ptn = data["PTN Diterima"][i]
                    try:
                        float(data[column][i])
                    except ValueError:
                        break
                    else:
                        jum += data[column][i]
                        byk += 1
                else:
                    pass
            try:
    #             print(column, jum/byk)
                list_nilai.append(jum/byk)
            except ZeroDivisionError:
                continue
        nama_alternatif = f"{temp_jurusan} - {temp_ptn}"
        if "administrasi" in temp_jurusan.casefold().split()\
        or "sosial" in temp_jurusan.casefold().split()\
        or "ekonomi" in temp_jurusan.casefold().split()\
        or "hi" in temp_jurusan.casefold().split()\
        or "hukum" in temp_jurusan.casefold().split()\
        or "komunikasi" in temp_jurusan.casefold().split()\
        or "politik" in temp_jurusan.casefold().split()\
        or "sosiologi" in temp_jurusan.casefold().split()\
        or "fsrd" in temp_jurusan.casefold().split()\
        or "sbm" in temp_jurusan.casefold().split()\
        or "akuntansi" in temp_jurusan.casefold().split()\
        or "manajemen" in temp_jurusan.casefold().split()\
        or "psdk" in temp_jurusan.casefold().split()\
        or "fiskal" in temp_jurusan.casefold().split()\
        or ("hubungan" in temp_jurusan.casefold().split() and "internasional" in temp_jurusan.casefold().split())\
        or "kriminologi" in temp_jurusan.casefold().split()\
        or "psikologi" in temp_jurusan.casefold().split()\
        or "bisnis" in temp_jurusan.casefold().split()\
        or "filsafat" in temp_jurusan.casefold().split()\
        or "jurnalistik" in temp_jurusan.casefold().split()\
        or "humas" in temp_jurusan.casefold().split()\
        or "desain" in temp_jurusan.casefold().split()\
        or "film" in temp_jurusan.casefold().split()\
        or ("hubungan" in temp_jurusan.casefold().split() and "masyarakat" in temp_jurusan.casefold().split())\
        or "akutansi" in temp_jurusan.casefold().split():
            nama_alternatif = f"{temp_jurusan} - {temp_ptn} (IPS)"
        elif "sastra" in temp_jurusan.casefold().split()\
        or "bahasa" in temp_jurusan.casefold().split()\
        or "perpustakaan" in temp_jurusan.casefold().split()\
        or "ugm" in temp_jurusan.casefold().split():
            continue
        
        if "(IPS)" not in nama_alternatif.split():
            nama_alternatif = f"{temp_jurusan} - {temp_ptn} (IPA)"
        
#         if len(list_nilai) == 11:
#             del list_nilai[0]
#         elif len(list_nilai) == 13:
#             del list_nilai[0:3]
#         elif len(list_nilai) == 12:
#             del list_nilai[0:2]
            
        frame[nama_alternatif] = list_nilai

    tabel = pd.DataFrame(frame, index=["Matematika", "Inggris", "Indonesia", "Fisika", "Kimia", "Biologi", "Ekonomi", "Geografi", "Sosiologi", "Sejarah"])

    return tabel

In [434]:
datasets = ["Data SNMPTN 2016 IPB by @halokampus.csv",
            "Data SNMPTN 2016 ITB by @halokampus.csv",
            "Data SNMPTN 2016 ITS by @halokampus.csv",
            "Data SNMPTN 2016 UB by @halokampus.csv",
            "Data SNMPTN 2016 UGM by @halokampus.csv",
            "Data SNMPTN 2016 UI by @halokampus.csv",
            "Data SNMPTN 2016 Unair by @halokampus.csv",
            "Data SNMPTN 2016 Undip by @halokampus.csv",
            "Data SNMPTN 2016 Unpad by @halokampus.csv",
            "Data SNMPTN 2017 IPB by @halokampus.csv",
            "Data SNMPTN 2017 ITB by @halokampus.csv",
            "Data SNMPTN 2017 ITS by @halokampus.csv",
            "Data SNMPTN 2017 UGM by @halokampus.csv",
            "Data SNMPTN 2017 UI by @halokampus.csv",
            "Data SNMPTN 2017 Unair by @halokampus.csv",
            "Data SNMPTN 2017 Unpad by @halokampus.csv",]

In [435]:
result = clean(datasets)

result

C:\Users\jamal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\jamal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Jurusan Sekolah,Jenis Sekolah,Jurusan Diterima,PTN Diterima,Rata-rata Matematika,Rata-rata Inggris,Rata-rata Indonesia,Rata-rata Fisika,Rata-rata Kimia,Rata-rata Biologi,Rata-rata Ekonomi,Rata-rata Geografi,Rata-rata Sosiologi,Rata-rata Sejarah
0,IPA,SMA,Kimia,IPB,85.321398,85.050000,85.579080,84.12069,85.150000,85.283333,83.000000,83.526667,NaN,82.676471
1,IPA,SMA,Kedokteran Hewan,IPB,85.321398,85.050000,85.579080,84.12069,85.150000,85.283333,83.000000,83.526667,NaN,82.676471
2,IPA,SMA,Nutrisi Dan Teknologi Pakan,IPB,85.321398,85.050000,85.579080,84.12069,85.150000,85.283333,83.000000,83.526667,NaN,82.676471
3,IPA,SMA,Teknik Mesin Dan Biosistem,IPB,85.321398,85.050000,85.579080,84.12069,85.150000,85.283333,83.000000,83.526667,NaN,82.676471
4,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,87.392839,85.050000,85.579080,84.12069,85.150000,85.283333,83.000000,83.526667,NaN,82.676471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,IPA,SMA,Kimia,UNPAD,84.000000,90.000000,91.000000,83.00000,86.000000,86.000000,83.968929,84.283138,85.10347,83.000000
896,IPS,SMA,Ekonomi Islam,UNPAD,88.000000,84.880013,85.361743,84.58443,84.592411,83.879942,83.968929,84.283138,85.10347,84.169997
897,IPA,SMA,Teknik Informatika,UNPAD,93.000000,89.000000,89.000000,88.00000,91.000000,89.000000,92.000000,85.769883,85.10347,91.000000
898,IPA,SMA,"Kimia,",UNPAD,82.237153,84.880013,85.361743,84.58443,84.592411,83.879942,83.968929,84.283138,85.10347,84.169997
899,IPS,SMA,Komunikasi,UNPAD,34.500000,88.000000,98.000000,88.00000,78.000000,78.000000,83.000000,83.000000,88.00000,93.000000

In [436]:
data_sort = sort_data(result)

data_sort

,Jurusan Sekolah,Jenis Sekolah,Jurusan Diterima,PTN Diterima,Rata-rata Matematika,Rata-rata Inggris,Rata-rata Indonesia,Rata-rata Fisika,Rata-rata Kimia,Rata-rata Biologi,Rata-rata Ekonomi,Rata-rata Geografi,Rata-rata Sosiologi,Rata-rata Sejarah
0,IPA,SMA,Administrasi Fiskal,UI,84.000000,84.000000,84.000000,82.000000,81.000000,83.000000,86.145714,85.512727,86.930877,83.943883
1,IPS,SMA,Administrasi Negara,UI,88.000000,86.000000,87.000000,85.458673,85.232000,84.774154,92.000000,92.000000,89.000000,87.482442
2,IPS,SMA,Administrasi Negara,UNPAD,87.000000,83.000000,91.000000,84.584430,84.592411,83.879942,85.000000,90.000000,84.000000,88.000000
3,IPS,SMA,Administrasi Negara,UNPAD,90.000000,78.000000,88.000000,84.584430,84.592411,83.879942,93.000000,85.000000,87.000000,88.000000
4,IPS,SMA,Administrasi Niaga,UI,85.465625,83.888667,85.246032,84.493016,85.297674,84.182558,86.145714,85.512727,86.930877,83.943883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,IPA,SMA,Tphp,UGM,86.000000,90.000000,91.000000,88.000000,89.000000,90.000000,89.837895,88.094322,90.363636,88.650538
896,IPS,SMA,Tv & Film,UNPAD,85.000000,85.000000,84.000000,84.584430,84.592411,83.879942,86.000000,87.000000,85.000000,85.000000
897,IPS,SMA,Tv & Perfilman,UNPAD,84.000000,91.000000,88.000000,84.584430,84.592411,83.879942,87.000000,87.000000,90.000000,88.467999
898,IPS,SMA,Tv Dan Film,UNPAD,83.000000,77.000000,82.000000,84.584430,84.592411,83.879942,83.000000,85.000000,87.000000,83.000000
899,IPA,SMA,Ugm,UGM,93.000000,89.000000,97.000000,89.000000,94.000000,93.000000,89.837895,88.094322,90.363636,88.650538

In [437]:
list_jurusan_ptn = get_jurusan_ptn(data_sort)

list_jurusan_ptn

[('Administrasi Fiskal', 'UI'),
 ('Administrasi Negara', 'UNPAD'),
 ('Administrasi Niaga', 'UI'),
 ('Administrasi Perpajakan', 'UB'),
 ('Agribisnis', 'IPB'),
 ('Agroekoteknologi', 'UB'),
 ('Agronomi Dan Holtikultura', 'IPB'),
 ('Agroteknologi', 'UNPAD'),
 ('Akuntansi', 'UGM'),
 ('Akutansi', 'UI'),
 ('Antropologi', 'UNAIR'),
 ('Antropologi Sosial', 'UB'),
 ('Apoteker', 'UNAIR'),
 ('Arkeologi', 'UI'),
 ('Arsitektur', 'ITB'),
 ('Arsitektur Lansekap', 'IPB'),
 ('Astronomi', 'ITB'),
 ('Bahasa Dan Kebudayaan Korea', 'UI'),
 ('Bahasa Korea', 'UGM'),
 ('Biokimia', 'IPB'),
 ('Biologi', 'ITS'),
 ('Budidaya Perairan', 'UNAIR'),
 ('Desain Interior', 'ITS'),
 ('Ekonomi Dan Studi Pembangunan', 'IPB'),
 ('Ekonomi Islam', 'UB'),
 ('Ekonomi Islam ', 'UNPAD'),
 ('Ekonomi Pembangunan', 'IPB'),
 ('Elektro', 'ITB'),
 ('Fakultas Kedokteran Gigi', 'UNAIR'),
 ('Fakultas Kedokteran Hewan', 'IPB'),
 ('Fakultas Teknik Industri', 'ITB'),
 ('Farmasi', 'UI'),
 ('Fisika', 'IPB'),
 ('Fiskal', 'UI'),
 ('Fitb', 'ITB'),
 ('Fkg', 'UGM'),
 ('Fmipa', 'ITB'),
 ('Fmipa Fisika', 'UB'),
 ('Fmipa- Ilmu Kimia', 'UNPAD'),
 ('Fsrd', 'ITB'),
 ('Geofisika', 'UGM'),
 ('Geofisika ', 'UI'),
 ('Gizi', 'UGM'),
 ('Hi', 'UB'),
 ('Hubungan Internasional', 'UGM'),
 ('Hubungan Masyarakat', 'UNPAD'),
 ('Hukum', 'UB'),
 ('Humas', 'UNPAD'),
 ('Ikk', 'IPB'),
 ('Ilmu Adm. Fiskal', 'UI'),
 ('Ilmu Administrasi Bisnis', 'UNPAD'),
 ('Ilmu Administrasi Negara', 'UI'),
 ('Ilmu Administrasi Publik', 'UB'),
 ('Ilmu Dan Teknologi Kelautan', 'IPB'),
 ('Ilmu Dan Teknologi Pangan', 'UB'),
 ('Ilmu Ekonomi', 'UGM'),
 ('Ilmu Ekonomi Islam', 'UI'),
 ('Ilmu Filsafat', 'UGM'),
 ('Ilmu Gizi', 'IPB'),
 ('Ilmu Hub. Internasional', 'UNPAD'),
 ('Ilmu Hubungan Internasional', 'UI'),
 ('Ilmu Hukum', 'UB'),
 ('Ilmu Informasi Dan Perpustakaan ', 'UNPAD'),
 ('Ilmu Kelautan', 'UNDIP'),
 ('Ilmu Keluarga Dan Konsumen', 'IPB'),
 ('Ilmu Keperawatan', 'UI'),
 ('Ilmu Keperawatan ', 'UNPAD '),
 ('Ilmu Kesehatan Masyarakat', 'UI'),
 ('Ilmu Komputer', 'IPB'),
 ('Ilmu Komunikasi', 'UB'),
 ('Ilmu Perpustakaan', 'UI'),
 ('Ilmu Peternakan', 'UNPAD'),
 ('Ilmu Politik', 'UB'),
 ('Ilmu Sejarah', 'UI'),
 ('Ilmu Sosiologi', 'UNPAD'),
 ('Ilmu Teknologi Pangan', 'IPB'),
 ('Informasi Dan Ilmu Perpustakaan', 'UNPAD'),
 ('Itb - Sithr', 'ITB'),
 ('Jurnalistik', 'UNPAD'),
 ('Kedokteran', 'UI'),
 ('Kedokteran ', 'UNAIR'),
 ('Kedokteran Gigi', 'UGM'),
 ('Kedokteran Hewan', 'IPB'),
 ('Kehutanan', 'UGM'),
 ('Kesehatan Masyarakat', 'UI'),
 ('Kesehatan Masyarakat (Pdd Banyuwangi)', 'UNAIR'),
 ('Kesejahteraan Sosial', 'UI'),
 ('Kimia', 'IPB'),
 ('Kimia ', 'UI'),
 ('Kimia, ', 'UNPAD'),
 ('Komunikasi', 'UI'),
 ('Komunikasi Dan Pengembangan Masyarakat', 'IPB'),
 ('Kriminologi', 'UI'),
 ('Manajemen', 'IPB'),
 ('Manajemen Bisnis', 'ITS'),
 ('Manajemen Dan Kebijakan Publik (An)', 'UGM'),
 ('Manajemen Hutan', 'IPB'),
 ('Manajemen Komunikasi', 'UNPAD'),
 ('Manajemen Sd Perairan', 'UNDIP'),
 ('Matematika', 'IPB'),
 ('Matematika ', 'UI'),
 ('Matematika (Fak. Matematika & Ilmu Pengetahuan Alam)', 'ITB'),
 ('Menejemen', 'UNAIR '),
 ('Meteorologi Terapan', 'IPB'),
 ('Mipa Geologi', 'UI'),
 ('Mipa Kimia', 'UB'),
 ('Nutrisi & Teknologi Pakan', 'IPB'),
 ('Oceanografi', 'UNDIP'),
 ('Pembangunan Wilayah', 'UGM'),
 ('Pend. Apoteker', 'UNAIR'),
 ('Pendidikan Dokter', 'UB'),
 ('Pendidikan Dokter Gigi', 'UNAIR'),
 ('Perencanaan Wilayah & Kota', 'UB'),
 ('Perencanaan Wilayah Dan Kota', 'ITS'),
 ('Perikanan', 'IPB'),
 ('Peternakan', 'UB'),
 ('Proteksi Tanaman', 'IPB'),
 ('Psdk', 'UGM'),
 ('Psikologi', 'UI'),
 ('Psikologi ', 'UGM'),
 ('S-1 Teknik Informatika', 'ITS'),
 ('Sappk', 'ITB'),
 ('Sastra', 'UI'),
 ('Sastra Arab', 'UGM'),
 ('Sastra Belanda', 'UI'),
 ('Sastra Indonesia', 'UNPAD'),
 ('Sastra Inggris', 'UI'),
 ('Sastra Inggris ', 'UNAIR'),
 ('Sastra Jawa', 'UI'),
 ('Sastra Jepang', 'UB'),
 ('Sastra Jerman', 'UI'),
 ('Sastra Jerman ', 'UNPAD'),
 ('Sastra Perancis', 'UI'),
 ('Sbm', 'ITB'),
 ('Silvikultur', 'IPB'),
 ('Sistem Informasi', 'ITS'),
 ('Sith - Rekayasa', 'ITB'),
 ('Sosial Ekonomi Pertanian (Agrobisnis)', 'UGM'),
 ('Sosiologi', 'UB'),
 ('Sosiologi Murni', 'UNAIR'),
 ('Statistika', 'IPB'),
 ('Stei', 'ITB'),
 ('Tehnik Sipil', 'UGM'),
 ('Teknik Elektro', 'ITS'),
 ('Teknik Fisika', 'UGM'),
 ('Teknik Geodesi', 'UNDIP'),
 ('Teknik Geologi', 'UGM'),
 ('Teknik Geologi ', 'UNPAD'),
 ('Teknik Industri', 'ITB'),
 ('Teknik Industri Pertanian', 'UGM'),
 ('Teknik Informatika', 'ITS'),
 ('Teknik Kimia', 'ITB'),
 ('Teknik Komputer', 'ITS'),
 ('Teknik Lingkungan', 'UB'),
 ('Teknik Mesin', 'ITS'),
 ('Teknik Mesin Dan Biosistem', 'IPB'),
 ('Teknik Metalurgi & Material', 'UI'),
 ('Teknik Multimedia Dan Jaringan', 'ITS'),
 ('Teknik Nuklir', 'UGM'),
 ('Teknik Pengairan', 'UB'),
 ('Teknik Perkapalan', 'ITS'),
 ('Teknik Pertanian', 'UGM'),
 ('Teknik Sipil', 'ITB'),
 ('Teknik Sipil Dan Lingkungan', 'IPB'),
 ('Teknik Sipil Lingkungan', 'ITB'),
 ('Teknik Sistem Perkapalan', 'ITS'),
 ('Teknobiomedik', 'UNAIR'),
 ('Teknologi Bioproses', 'UI'),
 ('Teknologi Dan Manajemen Perikanan Budidaya', 'IPB'),
 ('Teknologi Hasil Perikanan', 'UB'),
 ('Teknologi Industri Hasil Perikanan', 'UNAIR'),
 ('Teknologi Industri Pertanian', 'IPB'),
 ('Teknologi Informasi', 'UGM'),
 ('Teknologi Pangan', 'IPB'),
 ('Televisi & Film', 'UNPAD'),
 ('Tin', 'IPB'),
 ('Tip', 'UGM'),
 ('Tv & Film', 'UNPAD'),
 ('Ugm', 'UGM')]

In [438]:
tabel_alternatif = get_tabel_alternatif(data_sort, list_jurusan_ptn)

tabel_alternatif

,Administrasi Fiskal - UI (IPS),Administrasi Negara - UNPAD (IPS),Administrasi Niaga - UI (IPS),Administrasi Perpajakan - UB (IPS),Agribisnis - IPB (IPA),Agroekoteknologi - UB (IPA),Agronomi Dan Holtikultura - IPB (IPA),Agroteknologi - UNPAD (IPA),Akuntansi - UGM (IPS),Akutansi - UI (IPS),...,Teknologi Dan Manajemen Perikanan Budidaya - IPB (IPS),Teknologi Hasil Perikanan - UB (IPA),Teknologi Industri Hasil Perikanan - UNAIR (IPA),Teknologi Industri Pertanian - IPB (IPA),Teknologi Informasi - UGM (IPA),Teknologi Pangan - IPB (IPA),Televisi & Film - UNPAD (IPS),Tin - IPB (IPA),Tip - UGM (IPA),Tv & Film - UNPAD (IPS)
Matematika,84.000000,88.500000,85.465625,92.000000,95.000,81.852143,91.000000,82.500000,91.625000,44.693125,...,84.500000,82.000000,85.000000,85.410699,92.000000,92.000000,85.000000,90.00,87.000000,85.000000
Inggris,84.000000,80.500000,83.888667,86.000000,90.000,84.729722,91.000000,82.750000,90.875000,54.255467,...,85.500000,91.000000,84.000000,84.775000,90.000000,88.000000,85.500000,83.00,94.000000,85.000000
Indonesia,84.000000,89.500000,85.246032,89.000000,88.000,85.837917,89.000000,84.000000,89.875000,85.000000,...,86.500000,89.000000,86.000000,86.789540,93.000000,86.000000,86.500000,89.00,80.000000,84.000000
Fisika,82.000000,84.584430,84.493016,81.956615,91.000,81.739154,89.000000,80.500000,89.437576,87.000000,...,84.500000,80.000000,83.000000,85.810345,89.000000,92.000000,84.584430,88.00,86.000000,84.584430
Kimia,81.000000,84.592411,85.297674,82.397782,89.000,82.349446,90.000000,81.500000,88.716106,74.300000,...,84.000000,79.000000,81.000000,84.825000,89.000000,85.000000,84.592411,88.00,87.000000,84.592411
Biologi,83.000000,83.879942,84.182558,82.827536,90.000,83.706884,91.000000,83.250000,89.695798,83.000000,...,84.000000,83.000000,86.000000,86.391667,93.000000,86.000000,83.879942,89.00,86.000000,83.879942
Ekonomi,86.145714,89.000000,86.145714,91.242143,85.000,83.726429,83.000000,82.062045,92.250000,86.145714,...,84.422980,88.726429,85.211111,84.961490,89.837895,85.845960,86.000000,83.00,89.837895,86.000000
Geografi,85.512727,87.500000,85.512727,91.000000,81.316,84.627747,83.526667,81.926031,88.959803,85.512727,...,85.388333,84.808608,84.793706,83.645000,88.094322,87.250000,86.500000,87.25,88.094322,87.000000
Sosiologi,86.930877,85.500000,86.930877,91.000000,NaN,85.702500,NaN,81.331846,91.872475,86.930877,...,NaN,84.850000,85.695971,NaN,90.363636,NaN,85.500000,NaN,90.363636,85.000000
Sejarah,83.943883,88.000000,83.943883,93.000000,89.000,85.517917,82.676471,81.000669,90.581317,85.000000,...,85.958333,83.000000,84.000000,85.088235,91.000000,85.916667,86.500000,88.00,88.650538,85.000000

In [439]:
tabel_alternatif.to_csv("Tabel Alternatif.csv", encoding="utf-8")