In [160]:
import pandas as pd
import numpy as np
import math

In [161]:
def open_file(file):
    #read dataset
    raw_data = pd.read_csv(file, header=6)

    #ganti nama header
    raw_data.columns = [
                        "Nama Panggilan", 
                        "Asal Sekolah", 
                        "Jurusan Sekolah", 
                        "Jenis Sekolah",
                        "Jenis Kelas", 
                        "Akreditasi Sekolah", 
                        "Prestasi Sekolah", 
                        "Alumni Sekolah", 
                        "PTN Pilihan I", 
                        "Jurusan Pilihan I di PTN Pilihan I" ,
                        "Jurusan Pilihan II di PTN Pilihan I", 
                        "PTN Pilihan II", 
                        "Jurusan Pilihan I di PTN Pilihan II" ,
                        "Jurusan Pilihan II di PTN Pilihan II", 
                        "Jurusan Diterima", "PTN Diterima", 
                        "Matematika Semester 1", 
                        "Matematika Semester 2", 
                        "Matematika Semester 3", 
                        "Matematika Semester 4", 
                        "Matematika Semester 5", 
                        "Inggris Semester 1", 
                        "Inggris Semester 2", 
                        "Inggris Semester 3", 
                        "Inggris Semester 4", 
                        "Inggris Semester 5",
                        "Indonesia Semester 1",
                        "Indonesia Semester 2",
                        "Indonesia Semester 3",
                        "Indonesia Semester 4",
                        "Indonesia Semester 5",
                        "Fisika Semester 1",
                        "Fisika Semester 2",
                        "Fisika Semester 3",
                        "Fisika Semester 4",
                        "Fisika Semester 5",
                        "Kimia Semester 1",
                        "Kimia Semester 2",
                        "Kimia Semester 3",
                        "Kimia Semester 4",
                        "Kimia Semester 5",
                        "Biologi Semester 1",
                        "Biologi Semester 2",
                        "Biologi Semester 3",
                        "Biologi Semester 4",
                        "Biologi Semester 5",
                        "Ekonomi Semester 1",
                        "Ekonomi Semester 2",
                        "Ekonomi Semester 3",
                        "Ekonomi Semester 4",
                        "Ekonomi Semester 5",
                        "Geografi Semester 1",
                        "Geografi Semester 2",
                        "Geografi Semester 3",
                        "Geografi Semester 4",
                        "Geografi Semester 5",
                        "Sosiologi Semester 1",
                        "Sosiologi Semester 2",
                        "Sosiologi Semester 3",
                        "Sosiologi Semester 4",
                        "Sosiologi Semester 5",
                        "Sejarah Semester 1",
                        "Sejarah Semester 2",
                        "Sejarah Semester 3",
                        "Sejarah Semester 4",
                        "Sejarah Semester 5",
                        "Komputer Semester 1",
                        "Komputer Semester 2",
                        "Komputer Semester 3",
                        "Komputer Semester 4",
                        "Komputer Semester 5",
                        "Peringkat Kelas Semester 1",
                        "Peringkat Kelas Semester 2",
                        "Peringkat Kelas Semester 3",
                        "Peringkat Kelas Semester 4",
                        "Peringkat Kelas Semester 5",
                        "Nilai UN", 
                        "Saran",
                        "Prestasi Lain"
                    ]
    
    #drop column yang tidak digunakan
    data = raw_data.drop([
                "Jenis Kelas",
                "Akreditasi Sekolah", 
                "Prestasi Sekolah", 
                "Alumni Sekolah", 
                "Komputer Semester 1",
                "Komputer Semester 2",
                "Komputer Semester 3",
                "Komputer Semester 4",
                "Komputer Semester 5",
                "Peringkat Kelas Semester 1",
                "Peringkat Kelas Semester 2",
                "Peringkat Kelas Semester 3",
                "Peringkat Kelas Semester 4",
                "Peringkat Kelas Semester 5",
                "Nilai UN", 
                "Saran",
                "Prestasi Lain"
        ],axis=1)
    
    return data

In [162]:
def cleaning_nilai(data):

    #Mengambil nilai tengah dari tiap nilai
    data = data.replace("<70", 34.5)
    data = data.replace("71 - 75", 73)
    data = data.replace("76 - 80", 78)
    data = data.replace("81 - 85", 83)
    data = data.replace("86 - 90", 88)
    data = data.replace("91 - 95", 93)
    data = data.replace("> 95", 98)
    data = data.replace("No data", np.NaN)

    return data

In [163]:
def replace_zero_w_mean(data, mata_pelajaran):
    
    #mencari rata-rata dari per mata pelajaran
    rata2 = (data[f"{mata_pelajaran} Semester 1"].mean() 
            + data[f"{mata_pelajaran} Semester 2"].mean() 
            + data[f"{mata_pelajaran} Semester 3"].mean()
            + data[f"{mata_pelajaran} Semester 4"].mean()
            + data[f"{mata_pelajaran} Semester 5"].mean())/5
    
    #mengganti NaN value dengan nilai rata-rata
    values = {
        f"{mata_pelajaran} Semester 1": rata2,
        f"{mata_pelajaran} Semester 2": rata2,
        f"{mata_pelajaran} Semester 3": rata2,
        f"{mata_pelajaran} Semester 4": rata2,
        f"{mata_pelajaran} Semester 5": rata2,
    }
    data = data.fillna(value=values)
                    
    return data

In [164]:
def rata2_mp_semester(data, mata_pelajaran):
    data_rata2 = {}
    
    #drop column tiap mata pelajaran untuk digantikan dengan rata-rata semester
    mapel = []
    for i in range(1,6):
        mapel.append(f"{mata_pelajaran} Semester {i}")

    data_drop = data.drop(mapel, axis=1)
    
    
    for column in data_drop:
        isi = []
        for i in range(len(data)):
            isi.append(data[column][i])
        data_rata2[column] = isi

    #menghitung rata-rata nilai 5 semester
    mean = []
    for i in range(len(data)):
        jumlah_nilai = 0
        jumlah_nilai += data[f"{mata_pelajaran} Semester 1"][i] + data[f"{mata_pelajaran} Semester 2"][i] + data[f"{mata_pelajaran} Semester 3"][i] + data[f"{mata_pelajaran} Semester 4"][i] + data[f"{mata_pelajaran} Semester 5"][i]
        mean.append(jumlah_nilai/5)

    #memasukkan column rata-rata 5 semester tiap mata pelajaran ke dataframe
    data_rata2[f"Rata-rata {mata_pelajaran}"] = mean

    data_rata2_frame = pd.DataFrame(data=data_rata2)
    
    return data_rata2_frame

In [165]:
def remove_nan(data):
    drop_index = []

    #menghapus NaN value
    for i in range(len(data)):
        try:
            float(data["Jurusan Diterima"][i])
        except ValueError:
            pass
        else:
            if math.isnan(float(data["Jurusan Diterima"][i])) or int(data["Jurusan Diterima"][i]) == 0:
                drop_index.append(i)

    data = data.drop(drop_index)
        
    return data

In [166]:
def clean_jurusan_ptn(data):
    for i in range(len(data)):
        for column in data:
            if column == "Jurusan Diterima"  or column == "Jurusan Pilihan I di PTN Pilihan I" or column == "Jurusan Pilihan II di PTN Pilihan I" or column == "Jurusan Pilihan I di PTN Pilihan II" or column == "Jurusan Pilihan II di PTN Pilihan II":
                if isinstance(data[column][i], float):
                    pass
                else:
                    data[column][i] = data[column][i].title()
            elif column == "PTN Diterima" or column == "PTN Pilihan I" or column == "PTN Pilihan II":
                if isinstance(data[column][i], float):
                    pass
                else:
                    data[column][i] = data[column][i].upper()
    
    return data

In [204]:
def clean(files):
    cleanned_data = []
    
    for file in files:
        data = open_file(file)

        data = cleaning_nilai(data)

        matpel = ["Matematika", "Inggris", "Indonesia", "Fisika", "Kimia", "Biologi", "Ekonomi", "Geografi", "Sosiologi","Sejarah"]

        for item in matpel:
            data = replace_zero_w_mean(data, item)
            data = rata2_mp_semester(data, item)
                    
        data = remove_nan(data)
        
        cleanned_data.append(data)
        
        data_merge = pd.concat(cleanned_data, ignore_index=True)
        
        result = clean_jurusan_ptn(data_merge)
        
    #Split data test - data train
    test = result.sample(frac=0.2, replace=True)
    test.to_csv("Splitted Test.csv", encoding="utf-8")
    
    rest_of_data = result.drop(test.index).reset_index()
    
    train_w_index = rest_of_data.drop([
            "Nama Panggilan", 
            "Asal Sekolah", 
            "PTN Pilihan I", 
            "Jurusan Pilihan I di PTN Pilihan I" ,
            "Jurusan Pilihan II di PTN Pilihan I", 
            "PTN Pilihan II", 
            "Jurusan Pilihan I di PTN Pilihan II" ,
            "Jurusan Pilihan II di PTN Pilihan II", 
        ],axis=1)
    
    train_w_index.to_csv("Splitted Train.csv", encoding="utf-8")
    
    train = train_w_index.drop(["index"],axis=1)

    return train

In [205]:
datasets = ["Data SNMPTN 2016 IPB by @halokampus.csv",
#             "Data SNMPTN 2016 ITB by @halokampus.csv",
#             "Data SNMPTN 2016 ITS by @halokampus.csv",
#             "Data SNMPTN 2016 UB by @halokampus.csv",
#             "Data SNMPTN 2016 UGM by @halokampus.csv",
#             "Data SNMPTN 2016 UI by @halokampus.csv",
#             "Data SNMPTN 2016 Unair by @halokampus.csv",
#             "Data SNMPTN 2016 Undip by @halokampus.csv",
#             "Data SNMPTN 2016 Unpad by @halokampus.csv",
#             "Data SNMPTN 2017 IPB by @halokampus.csv",
#             "Data SNMPTN 2017 ITB by @halokampus.csv",
#             "Data SNMPTN 2017 ITS by @halokampus.csv",
#             "Data SNMPTN 2017 UGM by @halokampus.csv",
#             "Data SNMPTN 2017 UI by @halokampus.csv",
#             "Data SNMPTN 2017 Unair by @halokampus.csv",
            #"Data SNMPTN 2017 Unpad by @halokampus.csv",
           ]

In [206]:
result = clean(datasets)

result

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Jurusan Sekolah,Jenis Sekolah,Jurusan Diterima,PTN Diterima,Rata-rata Matematika,Rata-rata Inggris,Rata-rata Indonesia,Rata-rata Fisika,Rata-rata Kimia,Rata-rata Biologi,Rata-rata Ekonomi,Rata-rata Geografi,Rata-rata Sosiologi,Rata-rata Sejarah
0,IPA,SMA,Kimia,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
1,IPA,SMA,Kedokteran Hewan,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
2,IPA,SMA,Nutrisi Dan Teknologi Pakan,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
3,IPA,SMA,Teknik Mesin Dan Biosistem,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
4,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,87.392839,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
5,IPA,SMA,Kimia,IPB,88.000000,83.00,82.000000,82.00000,89.00,80.000000,81.0,83.526667,NaN,82.676471
6,IPA,SMA,Biologi,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
7,IPA,SMA,Nutrisi & Teknologi Pakan,IPB,93.000000,91.00,90.000000,93.00000,88.00,86.000000,83.0,83.526667,NaN,82.676471
8,IPA,SMA,Teknologi Industri Pertanian,IPB,83.000000,83.00,86.000000,82.00000,82.00,88.000000,88.0,83.526667,NaN,87.000000
9,IPA,SMA,Komunikasi Dan Pengembangan Masyarakat,IPB,82.000000,83.00,81.000000,83.00000,85.00,81.000000,83.0,83.526667,NaN,82.676471
10,IPA,SMA,Ilmu Komputer,IPB,94.000000,86.00,86.000000,90.00000,88.00,85.000000,87.0,81.316000,NaN,84.000000
11,IPA,SMA,Ilmu Gizi,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
12,IPA,SMA,Ilmu Gizi,IPB,81.000000,93.00,86.000000,86.00000,90.00,86.000000,83.0,83.526667,NaN,82.676471
13,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
14,IPA,SMA,Teknologi Industri Pertanian,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
15,IPA,SMA,Ekonomi Dan Studi Pembangunan,IPB,86.000000,87.00,83.515816,84.12069,86.00,88.000000,81.0,83.316000,NaN,80.000000
16,IPA,SMA,Biologi,IPB,85.000000,85.00,84.000000,87.00000,84.00,86.000000,83.0,83.526667,NaN,82.676471
17,IPA,SMA,Meteorologi Terapan,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
18,IPA,SMA,Manajemen,IPB,88.000000,81.00,81.000000,86.00000,83.00,87.000000,83.0,86.000000,NaN,85.000000
19,IPA,SMA,Teknologi Produksi Ternak,IPB,34.500000,34.50,34.500000,34.50000,34.50,34.500000,63.6,63.916000,NaN,34.500000
20,IPA,SMA,Matematika,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
21,IPA,SMA,Fisika,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
22,IPA,SMA,Ekonomi Sumberdaya Dan Lingkungan,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
23,IPA,SMA,Ilmu Teknologi Pangan,IPB,87.000000,91.00,91.000000,87.00000,89.00,88.000000,83.0,83.526667,NaN,82.676471
24,IPA,SMA,Kimia,IPB,85.000000,81.00,83.000000,87.00000,86.00,87.000000,84.0,85.316000,NaN,83.000000
25,IPA,SMA,Ekonomi Dan Studi Pembangunan,IPB,82.000000,85.00,82.000000,81.00000,82.00,87.000000,83.0,83.526667,NaN,82.676471
26,IPA,SMA,Proteksi Tanaman,IPB,84.000000,88.00,89.000000,87.00000,86.00,85.000000,83.0,83.526667,NaN,82.676471
27,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,88.000000,89.00,95.000000,88.00000,89.00,91.000000,83.0,83.526667,NaN,92.000000
28,IPA,SMA,Ikk,IPB,83.000000,90.00,84.000000,79.00000,83.00,83.000000,83.0,83.526667,NaN,82.676471
29,IPA,SMA,Arsitektur Lansekap,IPB,92.000000,81.00,88.000000,81.00000,91.00,87.000000,83.0,83.526667,NaN,83.000000
30,IPA,SMA,Teknik Sipil Dan Lingkungan,IPB,89.000000,87.00,89.000000,87.00000,92.00,92.000000,86.0,86.000000,NaN,89.000000
31,IPA,SMA,Statistika,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
32,IPA,SMA,Silvikultur,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
33,IPA,SMA,Biokimia,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
34,IPA,SMA,Teknologi Industri Pertanian,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
35,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
36,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,87.000000,82.00,84.000000,85.00000,85.00,86.000000,81.0,83.526667,NaN,83.000000
37,IPA,SMA,Agronomi Dan Holtikultura,IPB,91.000000,91.00,89.000000,89.00000,90.00,91.000000,83.0,83.526667,NaN,82.676471
38,IPA,SMA,Fakultas Kedokteran Hewan,IPB,87.000000,98.00,98.000000,93.00000,95.00,91.000000,83.0,83.526667,NaN,82.676471
39,IPA,SMA,Statistika,IPB,87.000000,84.00,90.000000,91.00000,85.00,92.000000,83.0,83.316000,NaN,87.000000
40,IPA,SMA,Teknologi Dan Manajemen Perikanan Budidaya,IPB,86.000000,85.00,85.000000,84.00000,84.00,82.000000,83.0,83.526667,NaN,86.000000

In [207]:
cek = result.sample(frac=0.2, replace=True)

cek

,Jurusan Sekolah,Jenis Sekolah,Jurusan Diterima,PTN Diterima,Rata-rata Matematika,Rata-rata Inggris,Rata-rata Indonesia,Rata-rata Fisika,Rata-rata Kimia,Rata-rata Biologi,Rata-rata Ekonomi,Rata-rata Geografi,Rata-rata Sosiologi,Rata-rata Sejarah
34,IPA,SMA,Teknologi Industri Pertanian,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
36,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,87.000000,82.00,84.000000,85.00000,85.00,86.000000,81.0,83.526667,NaN,83.000000
17,IPA,SMA,Meteorologi Terapan,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
26,IPA,SMA,Proteksi Tanaman,IPB,84.000000,88.00,89.000000,87.00000,86.00,85.000000,83.0,83.526667,NaN,82.676471
13,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
15,IPA,SMA,Ekonomi Dan Studi Pembangunan,IPB,86.000000,87.00,83.515816,84.12069,86.00,88.000000,81.0,83.316000,NaN,80.000000
7,IPA,SMA,Nutrisi & Teknologi Pakan,IPB,93.000000,91.00,90.000000,93.00000,88.00,86.000000,83.0,83.526667,NaN,82.676471
13,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,85.321398,85.05,85.579080,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471

In [208]:
adaw = result.drop(cek.index).reset_index()

adaw

,index,Jurusan Sekolah,Jenis Sekolah,Jurusan Diterima,PTN Diterima,Rata-rata Matematika,Rata-rata Inggris,Rata-rata Indonesia,Rata-rata Fisika,Rata-rata Kimia,Rata-rata Biologi,Rata-rata Ekonomi,Rata-rata Geografi,Rata-rata Sosiologi,Rata-rata Sejarah
0,0,IPA,SMA,Kimia,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
1,1,IPA,SMA,Kedokteran Hewan,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
2,2,IPA,SMA,Nutrisi Dan Teknologi Pakan,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
3,3,IPA,SMA,Teknik Mesin Dan Biosistem,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
4,4,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,87.392839,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
5,5,IPA,SMA,Kimia,IPB,88.000000,83.00,82.00000,82.00000,89.00,80.000000,81.0,83.526667,NaN,82.676471
6,6,IPA,SMA,Biologi,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
7,8,IPA,SMA,Teknologi Industri Pertanian,IPB,83.000000,83.00,86.00000,82.00000,82.00,88.000000,88.0,83.526667,NaN,87.000000
8,9,IPA,SMA,Komunikasi Dan Pengembangan Masyarakat,IPB,82.000000,83.00,81.00000,83.00000,85.00,81.000000,83.0,83.526667,NaN,82.676471
9,10,IPA,SMA,Ilmu Komputer,IPB,94.000000,86.00,86.00000,90.00000,88.00,85.000000,87.0,81.316000,NaN,84.000000
10,11,IPA,SMA,Ilmu Gizi,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
11,12,IPA,SMA,Ilmu Gizi,IPB,81.000000,93.00,86.00000,86.00000,90.00,86.000000,83.0,83.526667,NaN,82.676471
12,14,IPA,SMA,Teknologi Industri Pertanian,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
13,16,IPA,SMA,Biologi,IPB,85.000000,85.00,84.00000,87.00000,84.00,86.000000,83.0,83.526667,NaN,82.676471
14,18,IPA,SMA,Manajemen,IPB,88.000000,81.00,81.00000,86.00000,83.00,87.000000,83.0,86.000000,NaN,85.000000
15,19,IPA,SMA,Teknologi Produksi Ternak,IPB,34.500000,34.50,34.50000,34.50000,34.50,34.500000,63.6,63.916000,NaN,34.500000
16,20,IPA,SMA,Matematika,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
17,21,IPA,SMA,Fisika,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
18,22,IPA,SMA,Ekonomi Sumberdaya Dan Lingkungan,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
19,23,IPA,SMA,Ilmu Teknologi Pangan,IPB,87.000000,91.00,91.00000,87.00000,89.00,88.000000,83.0,83.526667,NaN,82.676471
20,24,IPA,SMA,Kimia,IPB,85.000000,81.00,83.00000,87.00000,86.00,87.000000,84.0,85.316000,NaN,83.000000
21,25,IPA,SMA,Ekonomi Dan Studi Pembangunan,IPB,82.000000,85.00,82.00000,81.00000,82.00,87.000000,83.0,83.526667,NaN,82.676471
22,27,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,88.000000,89.00,95.00000,88.00000,89.00,91.000000,83.0,83.526667,NaN,92.000000
23,28,IPA,SMA,Ikk,IPB,83.000000,90.00,84.00000,79.00000,83.00,83.000000,83.0,83.526667,NaN,82.676471
24,29,IPA,SMA,Arsitektur Lansekap,IPB,92.000000,81.00,88.00000,81.00000,91.00,87.000000,83.0,83.526667,NaN,83.000000
25,30,IPA,SMA,Teknik Sipil Dan Lingkungan,IPB,89.000000,87.00,89.00000,87.00000,92.00,92.000000,86.0,86.000000,NaN,89.000000
26,31,IPA,SMA,Statistika,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
27,32,IPA,SMA,Silvikultur,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
28,33,IPA,SMA,Biokimia,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
29,35,IPA,SMA,Ilmu Keluarga Dan Konsumen,IPB,85.321398,85.05,85.57908,84.12069,85.15,85.283333,83.0,83.526667,NaN,82.676471
30,37,IPA,SMA,Agronomi Dan Holtikultura,IPB,91.000000,91.00,89.00000,89.00000,90.00,91.000000,83.0,83.526667,NaN,82.676471
31,38,IPA,SMA,Fakultas Kedokteran Hewan,IPB,87.000000,98.00,98.00000,93.00000,95.00,91.000000,83.0,83.526667,NaN,82.676471
32,39,IPA,SMA,Statistika,IPB,87.000000,84.00,90.00000,91.00000,85.00,92.000000,83.0,83.316000,NaN,87.000000
33,40,IPA,SMA,Teknologi Dan Manajemen Perikanan Budidaya,IPB,86.000000,85.00,85.00000,84.00000,84.00,82.000000,83.0,83.526667,NaN,86.000000