In [96]:
import pandas as pd
import numpy as np

In [97]:
def open_csv(file=None,header=6):
    if file:
        #open csv pakai pandas
        data = pd.read_csv(file, header=header)
        #ganti nama header
        data.columns = [
                        "Nama Panggilan", 
                        "Asal Sekolah", 
                        "Jurusan Sekolah", 
                        "Jenis Sekolah",
                        "Jenis Kelas", 
                        "Akreditasi Sekolah", 
                        "Prestasi Sekolah", 
                        "Alumni Sekolah", 
                        "PTN Pilihan I", 
                        "Jurusan Pilihan I di PTN Pilihan I" ,
                        "Jurusan Pilihan II di PTN Pilihan I", 
                        "PTN Pilihan II", 
                        "Jurusan Pilihan I di PTN Pilihan II" ,
                        "Jurusan Pilihan II di PTN Pilihan II", 
                        "Jurusan Diterima", "PTN Diterima", 
                        "Matematika Semester 1", 
                        "Matematika Semester 2", 
                        "Matematika Semester 3", 
                        "Matematika Semester 4", 
                        "Matematika Semester 5", 
                        "Inggris Semester 1", 
                        "Inggris Semester 2", 
                        "Inggris Semester 3", 
                        "Inggris Semester 4", 
                        "Inggris Semester 5",
                        "Indonesia Semester 1",
                        "Indonesia Semester 2",
                        "Indonesia Semester 3",
                        "Indonesia Semester 4",
                        "Indonesia Semester 5",
                        "Fisika Semester 1",
                        "Fisika Semester 2",
                        "Fisika Semester 3",
                        "Fisika Semester 4",
                        "Fisika Semester 5",
                        "Kimia Semester 1",
                        "Kimia Semester 2",
                        "Kimia Semester 3",
                        "Kimia Semester 4",
                        "Kimia Semester 5",
                        "Biologi Semester 1",
                        "Biologi Semester 2",
                        "Biologi Semester 3",
                        "Biologi Semester 4",
                        "Biologi Semester 5",
                        "Ekonomi Semester 1",
                        "Ekonomi Semester 2",
                        "Ekonomi Semester 3",
                        "Ekonomi Semester 4",
                        "Ekonomi Semester 5",
                        "Geografi Semester 1",
                        "Geografi Semester 2",
                        "Geografi Semester 3",
                        "Geografi Semester 4",
                        "Geografi Semester 5",
                        "Sosiologi Semester 1",
                        "Sosiologi Semester 2",
                        "Sosiologi Semester 3",
                        "Sosiologi Semester 4",
                        "Sosiologi Semester 5",
                        "Sejarah Semester 1",
                        "Sejarah Semester 2",
                        "Sejarah Semester 3",
                        "Sejarah Semester 4",
                        "Sejarah Semester 5",
                        "Komputer Semester 1",
                        "Komputer Semester 2",
                        "Komputer Semester 3",
                        "Komputer Semester 4",
                        "Komputer Semester 5",
                        "Peringkat Kelas Semester 1",
                        "Peringkat Kelas Semester 2",
                        "Peringkat Kelas Semester 3",
                        "Peringkat Kelas Semester 4",
                        "Peringkat Kelas Semester 5",
                        "Nilai UN", 
                        "Saran",
                        "Prestasi Lain"
                    ]
        #drop column yang gak digunain
        data = data.drop([
            "Asal Sekolah", 
            "Jenis Kelas",
            "Akreditasi Sekolah", 
            "Prestasi Sekolah", 
            "Alumni Sekolah", 
            "Komputer Semester 1",
            "Komputer Semester 2",
            "Komputer Semester 3",
            "Komputer Semester 4",
            "Komputer Semester 5",
            "Peringkat Kelas Semester 1",
            "Peringkat Kelas Semester 2",
            "Peringkat Kelas Semester 3",
            "Peringkat Kelas Semester 4",
            "Peringkat Kelas Semester 5",
            "Nilai UN", 
            "Saran",
            "Prestasi Lain",
            "Sejarah Semester 1",
            "Sejarah Semester 2",
            "Sejarah Semester 3",
            "Sejarah Semester 4",
            "Sejarah Semester 5",
        ], axis = 1)

        #hapus row jika nama panggilan dan jurusan diterima NaN
        data = data.dropna(subset=["Nama Panggilan"])
    else:
        data = None

    return data

In [98]:
getMapel = lambda columns: {column.split(" Semester ")[0] for column in columns if "Semester" in column}

In [99]:
avg = lambda list_nilai: sum(list_nilai) / len(list_nilai)

In [100]:
def gantiPakeMedian(data):
    #mengambil nilai tengah dari tiap nilai
    data = data.replace("<70", 34.5)
    data = data.replace("71 - 75", 73)
    data = data.replace("76 - 80", 78)
    data = data.replace("81 - 85", 83)
    data = data.replace("86 - 90", 88)
    data = data.replace("91 - 95", 93)
    data = data.replace("> 95", 98)
    data = data.replace("No data", np.NaN)
    
    return data

In [101]:
def getMeanLimaSemester(data, mata_pelajaran, index=0):
    #isi value untuk fillna
    values = dict()
    for i in range(1, 6):
        rata2_per_pelajaran = data[f"{mata_pelajaran} Semester {i}"].mean()
        values[f"{mata_pelajaran} Semester {i}"] = rata2_per_pelajaran

    #isi NaN dengan rata2 semester
    data = data.fillna(value=values)

    #itung rata2 nilai 5 semester
    nilai_siswa_5_semester_list = [data[f"{mata_pelajaran} Semester {idx}"][index] for idx in range(1,6)]
    rata2_nilai_siswa_5_semester = avg(nilai_siswa_5_semester_list)
            
    return rata2_nilai_siswa_5_semester

In [102]:
def getJurusanDiterima(jurusan_diterima):
    if "administrasi" in jurusan_diterima.casefold()\
    or "sosial" in jurusan_diterima.casefold()\
    or "ekonomi" in jurusan_diterima.casefold()\
    or "hi" in jurusan_diterima.casefold()\
    or "hukum" in jurusan_diterima.casefold()\
    or "komunikasi" in jurusan_diterima.casefold()\
    or "politik" in jurusan_diterima.casefold()\
    or "sosiologi" in jurusan_diterima.casefold()\
    or "fsrd" in jurusan_diterima.casefold()\
    or "sbm" in jurusan_diterima.casefold()\
    or "akuntansi" in jurusan_diterima.casefold()\
    or "manajemen" in jurusan_diterima.casefold()\
    or "psdk" in jurusan_diterima.casefold()\
    or "fiskal" in jurusan_diterima.casefold()\
    or ("hubungan" in jurusan_diterima.casefold() and "internasional" in jurusan_diterima.casefold())\
    or "kriminologi" in jurusan_diterima.casefold()\
    or "psikologi" in jurusan_diterima.casefold()\
    or "bisnis" in jurusan_diterima.casefold()\
    or "filsafat" in jurusan_diterima.casefold()\
    or "jurnalistik" in jurusan_diterima.casefold()\
    or "humas" in jurusan_diterima.casefold()\
    or "desain" in jurusan_diterima.casefold()\
    or "film" in jurusan_diterima.casefold()\
    or "antropologi" in jurusan_diterima.casefold()\
    or "keluarga" in jurusan_diterima.casefold()\
    or "konsumen" in jurusan_diterima.casefold()\
    or "sejarah" in jurusan_diterima.casefold()\
    or "menejemen" in jurusan_diterima.casefold()\
    or "arkeologi" in jurusan_diterima.casefold()\
    or ("hubungan" in jurusan_diterima.casefold() and "masyarakat" in jurusan_diterima.casefold())\
    or "akutansi" in jurusan_diterima.casefold():
        jurusan_diterima = f"{jurusan_diterima} (IPS)"
    else:
        jurusan_diterima = f"{jurusan_diterima} (IPA)"

    return jurusan_diterima

In [103]:
def getDictionary(data, mata_pelajaran):
    df = dict()
    df_train_test = dict()
    list_jurusan = set()
    indeks = 0
    for i, row in data.iterrows():
        #dapetin nama jurusan
        jrs = row["Jurusan Diterima"].strip()
        fkl = row["PTN Diterima"].strip()
        jurusan_diterima = f"{jrs} - {fkl}".upper()
        
        #dapetin nama jurusan
        jurusan_diterima = getJurusanDiterima(jurusan_diterima)
        
        if "sastra" not in jurusan_diterima.casefold()\
        and "bahasa" not in jurusan_diterima.casefold()\
        and "perpustakaan" not in jurusan_diterima.casefold()\
        and "ugm" not in jurusan_diterima.casefold():
            list_jurusan.add(jurusan_diterima)
            #masukkin nama panggilan
            if "Nama Panggilan" not in df_train_test:
                df_train_test["Nama Panggilan"] = [row["Nama Panggilan"]]
            else:
                df_train_test["Nama Panggilan"].append(row["Nama Panggilan"])
                
            #masukkin jurusan sekolah
            if "Jurusan Sekolah" not in df_train_test:
                df_train_test["Jurusan Sekolah"] = [row["Jurusan Sekolah"]]
            else:
                df_train_test["Jurusan Sekolah"].append(row["Jurusan Sekolah"])
            
            #masukkin pilihan
            if not pd.isnull(row["PTN Pilihan I"]) and row["PTN Pilihan I"].casefold() != "kosong":
                if "Pilihan I" not in df_train_test:
                    if not pd.isnull(row["Jurusan Pilihan I di PTN Pilihan I"]):
                        if row["Jurusan Pilihan I di PTN Pilihan I"].casefold() != "kosong" or row["Jurusan Pilihan I di PTN Pilihan I"].casefold() != "-":
                            df_train_test["Pilihan I"] = [f"{row['Jurusan Pilihan I di PTN Pilihan I']} - {row['PTN Pilihan I']}".upper()]
                else:
                    if not pd.isnull(row["Jurusan Pilihan I di PTN Pilihan I"]):
                        if row["Jurusan Pilihan I di PTN Pilihan I"].casefold() != "kosong" or row["Jurusan Pilihan I di PTN Pilihan I"].casefold() != "-":
                            df_train_test["Pilihan I"].append(f"{row['Jurusan Pilihan I di PTN Pilihan I']} - {row['PTN Pilihan I']}".upper())
                                                          
                if "Pilihan II" not in df_train_test:
                    if not pd.isnull(row["Jurusan Pilihan II di PTN Pilihan I"]):
                        if row["Jurusan Pilihan II di PTN Pilihan I"].casefold() != "kosong" or row["Jurusan Pilihan II di PTN Pilihan I"].casefold() != "-":
                            df_train_test["Pilihan II"] = [f"{row['Jurusan Pilihan II di PTN Pilihan I']} - {row['PTN Pilihan I']}".upper()]
                        else:
                            df_train_test["Pilihan II"] = ["KOSONG"]
                    else:
                        if not pd.isnull(row["PTN Pilihan II"]):
                            if row["PTN Pilihan II"].casefold() != "kosong":
                                if not pd.isnull(row["Jurusan Pilihan I di PTN Pilihan II"]):
                                    if row["Jurusan Pilihan I di PTN Pilihan II"].casefold() != "kosong" or row["Jurusan Pilihan I di PTN Pilihan II"].casefold() != "-":
                                        df_train_test["Pilihan II"] = [f'{row["Jurusan Pilihan I di PTN Pilihan II"]} - {row["PTN Pilihan II"]}'.upper()]
                                    else:
                                        df_train_test["Pilihan II"] = ["KOSONG"]
                                else:
                                    df_train_test["Pilihan II"] = ["KOSONG"]
                            else:
                                df_train_test["Pilihan II"] = ["KOSONG"]
                        else:
                            df_train_test["Pilihan II"] = ["KOSONG"]
                else:
                    if not pd.isnull(row["Jurusan Pilihan II di PTN Pilihan I"]):
                        if row["Jurusan Pilihan II di PTN Pilihan I"].casefold() != "kosong" or row["Jurusan Pilihan II di PTN Pilihan I"].casefold() != "-":
                            df_train_test["Pilihan II"].append(f"{row['Jurusan Pilihan II di PTN Pilihan I']} - {row['PTN Pilihan I']}".upper())
                        else:
                            df_train_test["Pilihan II"].append("KOSONG")
                    else:
                        if not pd.isnull(row["PTN Pilihan II"]):
                            if row["PTN Pilihan II"].casefold() != "kosong" or row["PTN Pilihan II"].casefold() != "-":
                                if not pd.isnull(row["Jurusan Pilihan I di PTN Pilihan II"]):
                                    if row["Jurusan Pilihan I di PTN Pilihan II"].casefold() != "kosong" or row["Jurusan Pilihan I di PTN Pilihan II"].casefold() != "-":
                                        df_train_test["Pilihan II"].append(f'{row["Jurusan Pilihan I di PTN Pilihan II"]} - {row["PTN Pilihan II"]}'.upper())
                                    else:
                                        df_train_test["Pilihan II"].append("KOSONG")
                                else:
                                    df_train_test["Pilihan II"].append("KOSONG")
                            else:
                                df_train_test["Pilihan II"].append("KOSONG")
                        else:
                            df_train_test["Pilihan II"].append("KOSONG")
                        
            if "Pilihan III" not in df_train_test:
                if not pd.isnull(row["PTN Pilihan II"]):
                    if row["PTN Pilihan II"].casefold() != "kosong" or row["PTN Pilihan II"].casefold() != "-":
                        if df_train_test["Pilihan II"][indeks].casefold() != f'{row["Jurusan Pilihan I di PTN Pilihan II"]} - {row["PTN Pilihan II"]}'.casefold():
                            if not pd.isnull(row["Jurusan Pilihan I di PTN Pilihan II"]):
                                if row["Jurusan Pilihan I di PTN Pilihan II"].casefold() != "kosong" or row["Jurusan Pilihan I di PTN Pilihan II"].casefold() != "-":
                                    df_train_test["Pilihan III"] = [f'{row["Jurusan Pilihan I di PTN Pilihan II"]} - {row["PTN Pilihan II"]}'.upper()]
                                else:
                                    df_train_test["Pilihan III"] = ["KOSONG"]
                            else:
                                df_train_test["Pilihan III"] = ["KOSONG"]
                        else:
                            if not pd.isnull(row["Jurusan Pilihan II di PTN Pilihan II"]):
                                if row["Jurusan Pilihan II di PTN Pilihan II"].casefold() != "kosong" or row["Jurusan Pilihan II di PTN Pilihan II"].casefold() != "-":
                                    df_train_test["Pilihan III"] = [f'{row["Jurusan Pilihan II di PTN Pilihan II"]} - {row["PTN Pilihan II"]}'.upper()]
                                else:
                                    df_train_test["Pilihan III"] = ["KOSONG"]
                            else:
                                df_train_test["Pilihan III"] = ["KOSONG"]
                    else:
                        df_train_test["Pilihan III"] = ["KOSONG"]
                else:
                    df_train_test["Pilihan III"] = ["KOSONG"]
            else:
                if not pd.isnull(row["PTN Pilihan II"]):
                    if row["PTN Pilihan II"].casefold() != "kosong" or row["PTN Pilihan II"].casefold() != "-":
                        if df_train_test["Pilihan II"][indeks].casefold() != f'{row["Jurusan Pilihan I di PTN Pilihan II"]} - {row["PTN Pilihan II"]}'.casefold():
                            if not pd.isnull(row["Jurusan Pilihan I di PTN Pilihan II"]):
                                if row["Jurusan Pilihan I di PTN Pilihan II"].casefold() != "kosong" or row["Jurusan Pilihan I di PTN Pilihan II"].casefold() != "-":
                                    df_train_test["Pilihan III"].append(f'{row["Jurusan Pilihan I di PTN Pilihan II"]} - {row["PTN Pilihan II"]}'.upper())
                                else:
                                    df_train_test["Pilihan III"].append("KOSONG")
                            else:
                                df_train_test["Pilihan III"].append("KOSONG")
                        else:
                            if not pd.isnull(row["Jurusan Pilihan II di PTN Pilihan II"]):
                                if row["Jurusan Pilihan II di PTN Pilihan II"].casefold() != "kosong" or row["Jurusan Pilihan II di PTN Pilihan II"].casefold() != "-":
                                    df_train_test["Pilihan III"].append(f'{row["Jurusan Pilihan II di PTN Pilihan II"]} - {row["PTN Pilihan II"]}'.upper())
                                else:
                                    df_train_test["Pilihan III"].append("KOSONG")
                            else:
                                df_train_test["Pilihan III"].append("KOSONG")
                    else:
                        df_train_test["Pilihan III"].append("KOSONG")
                else:
                    df_train_test["Pilihan III"].append("KOSONG")
            
            indeks += 1
                                                                        
            #masukkin jurusan diterima
            if "Jurusan Diterima" not in df_train_test:
                df_train_test["Jurusan Diterima"] = [jurusan_diterima]
            else:
                df_train_test["Jurusan Diterima"].append(jurusan_diterima)
        
            #bikin dictionary untuk data frame
            mean_list_temp = list()
            for item in mata_pelajaran:
                #masukkin mata pelajaran
                if item not in df_train_test:
                    df_train_test[item] = [getMeanLimaSemester(data, item, i)]
                else: 
                    df_train_test[item].append(getMeanLimaSemester(data, item, i))
                    
                if jurusan_diterima not in df:
                    df[jurusan_diterima] = [[getMeanLimaSemester(data, item, i)]]
                else:
                    if len(df[jurusan_diterima][0]) >= 9:
                        mean_list_temp.append(getMeanLimaSemester(data, item, i))
                        if len(mean_list_temp) >= 9:
                            df[jurusan_diterima].append(mean_list_temp)
                            del mean_list_temp
                    else:
                        df[jurusan_diterima][0].append(getMeanLimaSemester(data, item, i))

    #rata2in value di dictionary
    for item in list_jurusan:
        if len(df[item]) > 1:
            df[item] = [sum(x)/len(df[item]) for x in zip(*df[item])]
        else:
            df[item] = df[item][0]
    
                                                                            
    return [df, df_train_test]

In [104]:
data = open_csv("data/Data SNMPTN 2016 UI by @halokampus.csv")

In [105]:
data

,Nama Panggilan,Jurusan Sekolah,Jenis Sekolah,PTN Pilihan I,Jurusan Pilihan I di PTN Pilihan I,Jurusan Pilihan II di PTN Pilihan I,PTN Pilihan II,Jurusan Pilihan I di PTN Pilihan II,Jurusan Pilihan II di PTN Pilihan II,Jurusan Diterima,...,Geografi Semester 1,Geografi Semester 2,Geografi Semester 3,Geografi Semester 4,Geografi Semester 5,Sosiologi Semester 1,Sosiologi Semester 2,Sosiologi Semester 3,Sosiologi Semester 4,Sosiologi Semester 5
0,Indy,IPS,SMA,UI,administrasi niaga,NaN,KOSONG,NaN,NaN,administrasi niaga,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nabilah,IPS,SMA,UI,Sastra Jepang,NaN,KOSONG,NaN,NaN,Sastra Jepang,...,76 - 80,86 - 90,91 - 95,81 - 85,86 - 90,76 - 80,81 - 85,86 - 90,81 - 85,86 - 90
2,rai,IPA,SMA,UI,Sistem informasi,Teknik Lingkungan,Unpad,Kedokteran,NaN,Sistem informasi,...,81 - 85,86 - 90,86 - 90,86 - 90,86 - 90,NaN,NaN,NaN,NaN,NaN
3,Shasqi,IPS,SMA,UI,Hukum,Manajemen,UNPAD,Hukum,NaN,Hukum,...,81 - 85,81 - 85,86 - 90,86 - 90,91 - 95,81 - 85,81 - 85,86 - 90,81 - 85,81 - 85
4,Tanto,IPS,SMA,UI,Ilmu Sejarah,Kosong,UNPAD,Ilmu Sejarah,Kosong,Ilmu Sejarah,...,81 - 85,81 - 85,81 - 85,81 - 85,91 - 95,86 - 90,86 - 90,81 - 85,86 - 90,81 - 85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Nanda,IPA,SMA,UI,Geofisika,Sistem informasi,KOSONG,NaN,NaN,Geofisika,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
83,Hilman,IPA,SMA,UI,MATEMATIKA,NaN,UNPAD,Matematika,ILMU PETERNAKAN,MATEMATIKA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Dicky,IPA,SMA,UI,Teknik Industri,Teknik Kimia,KOSONG,NaN,NaN,Teknik Industri,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
85,Iffa,IPS,SMA,UI,Akuntansi,Ilmu Ekonomi,KOSONG,NaN,NaN,Akuntansi,...,86 - 90,86 - 90,81 - 85,86 - 90,86 - 90,86 - 90,86 - 90,86 - 90,81 - 85,86 - 90
86,Hamid,IPS,SMA,UI,Akuntansi,Ilmu Ekonomi,KOSONG,NaN,NaN,Akuntansi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
data = gantiPakeMedian(data)

In [107]:
data

,Nama Panggilan,Jurusan Sekolah,Jenis Sekolah,PTN Pilihan I,Jurusan Pilihan I di PTN Pilihan I,Jurusan Pilihan II di PTN Pilihan I,PTN Pilihan II,Jurusan Pilihan I di PTN Pilihan II,Jurusan Pilihan II di PTN Pilihan II,Jurusan Diterima,...,Geografi Semester 1,Geografi Semester 2,Geografi Semester 3,Geografi Semester 4,Geografi Semester 5,Sosiologi Semester 1,Sosiologi Semester 2,Sosiologi Semester 3,Sosiologi Semester 4,Sosiologi Semester 5
0,Indy,IPS,SMA,UI,administrasi niaga,NaN,KOSONG,NaN,NaN,administrasi niaga,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nabilah,IPS,SMA,UI,Sastra Jepang,NaN,KOSONG,NaN,NaN,Sastra Jepang,...,78.0,88.0,93.0,83.0,88.0,78.0,83.0,88.0,83.0,88.0
2,rai,IPA,SMA,UI,Sistem informasi,Teknik Lingkungan,Unpad,Kedokteran,NaN,Sistem informasi,...,83.0,88.0,88.0,88.0,88.0,NaN,NaN,NaN,NaN,NaN
3,Shasqi,IPS,SMA,UI,Hukum,Manajemen,UNPAD,Hukum,NaN,Hukum,...,83.0,83.0,88.0,88.0,93.0,83.0,83.0,88.0,83.0,83.0
4,Tanto,IPS,SMA,UI,Ilmu Sejarah,Kosong,UNPAD,Ilmu Sejarah,Kosong,Ilmu Sejarah,...,83.0,83.0,83.0,83.0,93.0,88.0,88.0,83.0,88.0,83.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Nanda,IPA,SMA,UI,Geofisika,Sistem informasi,KOSONG,NaN,NaN,Geofisika,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Hilman,IPA,SMA,UI,MATEMATIKA,NaN,UNPAD,Matematika,ILMU PETERNAKAN,MATEMATIKA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Dicky,IPA,SMA,UI,Teknik Industri,Teknik Kimia,KOSONG,NaN,NaN,Teknik Industri,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Iffa,IPS,SMA,UI,Akuntansi,Ilmu Ekonomi,KOSONG,NaN,NaN,Akuntansi,...,88.0,88.0,83.0,88.0,88.0,88.0,88.0,88.0,83.0,88.0
86,Hamid,IPS,SMA,UI,Akuntansi,Ilmu Ekonomi,KOSONG,NaN,NaN,Akuntansi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
mata_pelajaran = getMapel(data)

In [109]:
df_table = getDictionary(data, mata_pelajaran)[0]

In [110]:
df_test_train = getDictionary(data, mata_pelajaran)[1]

In [111]:
table_alternatif = pd.DataFrame(df_table, list(mata_pelajaran))

In [112]:
table_alternatif

,ADMINISTRASI NIAGA - UI (IPS),SISTEM INFORMASI - UI (IPA),HUKUM - UI (IPS),ILMU SEJARAH - UI (IPS),FISIKA - UI (IPA),ILMU KOMUNIKASI - UI (IPS),FARMASI - UI (IPA),TEKNIK KIMIA - UI (IPA),KEDOKTERAN GIGI - UI (IPA),MATEMATIKA - UI (IPA),...,TEKNIK ELEKTRO - UI (IPA),KRIMINOLOGI - UI (IPS),ILMU ADM. FISKAL - UI (IPS),SOSIOLOGI - UI (IPS),ILMU KOMPUTER - UI (IPA),ILMU KEPERAWATAN - UI (IPA),ILMU HUBUNGAN INTERNASIONAL - UI (IPS),PSIKOLOGI - UI (IPS),ILMU EKONOMI - UI (IPS),TEKNIK SIPIL - UI (IPA)
Indonesia,85.246032,85.000000,85.082011,87.623016,83.166667,88.500000,85.246032,91.000000,86.666667,86.333333,...,89.000000,88.000000,85.246032,84.000000,86.000000,85.246032,86.000000,85.415344,93.000000,84.000000
Inggris,83.888667,83.000000,86.296222,85.444333,84.666667,84.944333,83.888667,89.000000,84.666667,86.333333,...,83.000000,84.310169,83.888667,87.000000,85.000000,83.888667,86.000000,81.629556,93.000000,83.000000
Biologi,84.182558,89.000000,84.182558,84.182558,83.166667,84.182558,84.182558,90.000000,84.000000,86.833333,...,88.000000,84.182558,84.182558,84.182558,84.000000,84.182558,84.182558,81.571705,91.000000,75.000000
Sosiologi,86.930877,86.930877,88.310292,86.465439,86.930877,89.465439,86.930877,86.930877,86.930877,87.609064,...,86.930877,85.000000,86.930877,88.000000,86.930877,86.930877,89.000000,86.620585,86.930877,86.930877
Kimia,85.297674,88.000000,85.297674,85.297674,82.666667,85.297674,85.297674,95.000000,84.666667,88.500000,...,90.000000,85.297674,85.297674,85.297674,85.000000,85.297674,85.297674,84.531783,93.000000,81.000000
Ekonomi,86.145714,86.145714,88.381905,87.072857,85.954762,86.000000,86.145714,86.145714,86.145714,86.247143,...,86.145714,88.000000,86.145714,91.000000,85.000000,86.145714,85.000000,86.763810,86.000000,86.145714
Geografi,85.512727,87.000000,85.170909,85.256364,84.927273,85.000000,85.512727,85.512727,85.512727,85.512727,...,85.512727,86.000000,85.512727,84.000000,85.512727,85.512727,84.000000,84.341818,85.512727,85.512727
Matematika,85.465625,91.000000,82.821875,85.732812,84.166667,85.500000,85.465625,91.000000,87.666667,91.166667,...,89.000000,84.000000,85.465625,80.000000,92.000000,85.465625,83.000000,81.333333,93.000000,92.000000
Fisika,84.493016,88.000000,84.493016,81.246508,85.333333,84.493016,84.493016,91.000000,83.666667,88.833333,...,88.000000,80.000000,84.493016,84.493016,85.000000,84.493016,84.493016,81.721585,93.000000,87.000000

In [113]:
train = pd.DataFrame(df_test_train)

In [114]:
train

,Nama Panggilan,Jurusan Sekolah,Pilihan I,Pilihan II,Pilihan III,Jurusan Diterima,Indonesia,Inggris,Biologi,Sosiologi,Kimia,Ekonomi,Geografi,Matematika,Fisika
0,Indy,IPS,ADMINISTRASI NIAGA - UI,KOSONG,KOSONG,ADMINISTRASI NIAGA - UI (IPS),85.246032,83.888667,84.182558,86.930877,85.297674,86.145714,85.512727,85.465625,84.493016
1,rai,IPA,SISTEM INFORMASI - UI,TEKNIK LINGKUNGAN - UI,KEDOKTERAN - UNPAD,SISTEM INFORMASI - UI (IPA),85.000000,83.000000,89.000000,86.930877,88.000000,86.145714,87.000000,91.000000,88.000000
2,Shasqi,IPS,HUKUM - UI,MANAJEMEN - UI,HUKUM - UNPAD,HUKUM - UI (IPS),85.000000,89.000000,84.182558,84.000000,85.297674,87.000000,87.000000,80.000000,84.493016
3,Tanto,IPS,ILMU SEJARAH - UI,KOSONG - UI,ILMU SEJARAH - UNPAD,ILMU SEJARAH - UI (IPS),90.000000,87.000000,84.182558,86.000000,85.297674,88.000000,85.000000,86.000000,78.000000
4,Novia,IPA,FISIKA - UI,TEKNIK FISIKA - ITS,STATISTIKA - ITS,FISIKA - UI (IPA),89.000000,84.000000,84.000000,86.930877,87.000000,85.000000,85.512727,88.000000,90.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Nanda,IPA,GEOFISIKA - UI,SISTEM INFORMASI - UI,KOSONG,GEOFISIKA - UI (IPA),87.000000,85.000000,81.000000,86.930877,86.000000,86.145714,85.512727,88.000000,87.000000
78,Hilman,IPA,MATEMATIKA - UI,MATEMATIKA - UNPAD,ILMU PETERNAKAN - UNPAD,MATEMATIKA - UI (IPA),85.000000,83.000000,78.000000,86.930877,85.000000,86.145714,85.512727,83.000000,77.000000
79,Dicky,IPA,TEKNIK INDUSTRI - UI,TEKNIK KIMIA - UI,KOSONG,TEKNIK INDUSTRI - UI (IPA),88.000000,91.000000,86.000000,86.930877,85.000000,92.000000,85.512727,87.000000,86.000000
80,Iffa,IPS,AKUNTANSI - UI,ILMU EKONOMI - UI,KOSONG,AKUNTANSI - UI (IPS),84.000000,83.000000,84.182558,87.000000,85.297674,89.000000,87.000000,89.000000,84.493016
81,Hamid,IPS,AKUNTANSI - UI,ILMU EKONOMI - UI,KOSONG,AKUNTANSI - UI (IPS),85.246032,83.888667,84.182558,86.930877,85.297674,86.145714,85.512727,85.465625,84.493016